/* GLOBAL STYLES */
$font: Oswald, sans-serif;
$tomato: #ff6347;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  background: black;
  color: white;
  justify-content: center;
}

h1, h2, h3, h4, h5{
  font-family: Oswald, sans-serif;
  font-weight: medium;
  color: silver;
  background: black;
  padding-left: 4px;
}
h1{
  font-family: 'Liberation Serif';
}

a{
  text-decoration: none;
  color: orange;
}
