/* GLOBAL STYLES */
$font: Oswald, sans-serif;
$tomato: #ff6347;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  margin: auto;
  margin-left: 1rem;
  padding: 0;
  background: black;
  color: white;
  justify-content: center;
}

h1, h2, h3, h4, h5{
  font-family: Oswald, sans-serif;
  font-weight: normal;
  color: silver;
  font-size: 16px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: orange;
}

bold, strong, em{
  background: silver;
  color: black;
  font-weight: normal;
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
}
