body{
  xcolor: yellow;
  xbackground: #000000;
}

#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 98vw;
}

.item{
  flex: 1 0 10rem;
  padding: 0.5rem;
  border: 1px solid white;
}

.item p{
  color: teal;
}

.item a{
  text-decoration: none;
}

.item:hover{
  -moz-transform: scale(1.025);
}

.active{
  background: blue;
  color: red;
}

.blur{
  filter: blur(6px);
}

.item1{
  flex: 0 0 80rem;
  padding: 2rem;
  margin: 2rem;
  border: 1px dotted yellow;
  text-wrap: 20px;
}
.item1 h1{
  text-align: center;
}
