<% data[:db].each_with_index do |h, i|
   h.transform_keys!(&:to_sym) => {body: , tag: }
%>

  <% if i.zero? %>
    <div class='item1'>
  <% else %>
    <div class="item">
  <% end %>

    <a href='/show?item=<%=i%>'>
      <h1><%= tag %></h1>
    </a>

    <p>
      <%=body[0].strip%>
    </p>
  </div>

<% end %>
